<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Início</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">MINHA LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">Início</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Quero Adotar
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Gatos</a></li>
                  <li><a class="dropdown-item" href="#">Cachorros</a></li>
                  <li><a class="dropdown-item" href="#">Adoções Especiais</a></li>
                </ul>
              </li>
             
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Resgate</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item " href="{% url 'account_logout' %}">Sair</a></li>
                </ul>
              </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Login</a>
                </li>
                {% endif %}

                
            </ul>
          </div>
        </div>
      </nav>
    
    <!--
      <div class="container">
        <div class="navbar">
            <div class="nav-links">
                <li class="nav-link">
                    <a href="#" >Início</a>
                </li>
                <li class="nav-link adoption">
                    <a href="#">Quero Adotar
                    <span class="material-icons dropdown-icon">
                        arrow_drop_down
                    </span>
                </a>
                <ul class="drop-down">   
                    <li>Gatos</li>
                    <li>Cachorros</li>
                    <li>Adoções Especiais</li>
                </ul> 
                </li>
                <li class="nav-link">
                    <a href="#">Resgate</a>
                </li>
                <li class="nav-link">
                    <a href="#">Contato</a>
                </li>
                <li class="nav-link">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                        <a href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>

            </div>
        </div>
    </div>
-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>
</html>

