{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <title>Registre-se</title>
    <html lang="en">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="{% url 'register' %}" method="POST"> {% csrf_token %}
    <div class='base-form'>
        <form class='login-form'>
            <h3>Criar conta</h3>
            
            
                <label for="username">Usuário</label>
                <input type="text" placeholder="Insira um nome de usuário" name="username">
            
                <label for="password">Senha</label>
                <input type="password" placeholder="Insira uma senha de até 6 caracteres" name="password">

                <label for="email">E-mail para contato</label>
                <input type="email" placeholder="exemplo@gmail.com" name="email">
            </form>
            <input type="submit">Tudo pronto!
        </div>
    </form>
</body>
</html>