{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class='google-auth'>
<h1>{% trans "Sair" %}</h1>

<p>{% trans 'Você gostaria mesmo de sair?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sim, eu gostaria de sair' %}</button>
</form>
</div>

{% endblock content %}
